<div class="note-preview">
  <h2>
    <%= link_to first_word(note_preview.title), note_path(note_preview) %>
    <%= next_words(note_preview.title) %>
  </h2>
  <div class="note-content">
    <%= note_preview.text %>
  </div>
  <div class="note-text-eater"><!-- --></div>
</div>
