<h2 class="action-new"><%= link_to 'New!', new_note_path, :class => "fancybox" %></h2>
<div class="first-row">
  <% @notes[0, 3].try(:each) do |note| %>
    <%= render :partial => 'note_preview', :object => note %>
  <% end %>
</div>
<div class="search-row">
  <input type="text" class="search-query" placeholder="What do you want to find?" />
  <input type="submit" class="search-button" value="Find!" />
</div>
<div class="second-row">
  <% @notes[3, 3].try(:each) do |note| %>
    <%= render :partial => 'note_preview', :object => note %>
  <% end %>
</div>
<%= will_paginate @notes %>
