// Place all the styles related to the NiftyNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, h1, h2, h3, h4, h5, h6, input {
  padding: 0;
  margin: 0;
}
.search-row input, .app-title, .action-new, .search-row, .pagination a, label, input, textarea {
  border: 2px solid gray;
}
a {
  color: darkred;
}
.note-content, .search-row { clear: both; }
.first-row, .second-row { overflow: hidden; }
.sandbox {
  border: 2px solid black;
  width: 1024px;
  height: 768px;
  position: relative;
}
.search-row input {
  font-size: 20px;
  padding: 4px;
}
.app-title, .action-new {
  border-top: none;
  display: inline-block;
  padding: 8px;
  border-bottom-right-radius: 10px;
}
.app-title {
  border-bottom-left-radius: 10px;
  margin-left: 150px;
}
.action-new {
  border-left: none;
  padding-right: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.note-preview {
  width: 240px;
  height: 180px;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 4px;
  position: relative;
}
.note-preview h2 {
  float: left;
}
.note-open {
  float: right;
}
.note-text-eater {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: url(/assets/text-eater.png) repeat-x;
}
.search-row {
  border-left: none;
  border-right: none;
  padding: 16px 0 16px 0;
  margin-top: 30px;
  background-color: lightgray;
}
input.search-button {
  padding-left: 45px;
  padding-right: 16px;
  background: white url(magnifier.png) 10px 5px no-repeat;
  margin-left: 10px;
}
input.search-query {
  margin-left: 100px;
  width: 460px;
}
.pagination {
  margin-top: 65px;
  font-size: 20px;
}
.pagination a {
  border-radius: 30px;
  padding: 10px;
  overflow: hidden;
  background: lightgray;
}
.pagination .go-back {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  padding-right: 16px;
  width: auto;
}
form#new_note {
  width: 500px;
  padding-left: 20px;
  margin: 0px;
  border: none;
}
#new_note label, #note_submit {
  margin-top: 20px;
}
#note_title, #note_text {
  margin: 0px;
  clear: both;
  display: block;
  width: 100%;
}
#new_note input {
  font-size: 20px;
}
#new_note textarea {
  font-size: 18px;
}
#new_note label {
  display: inline-block;
  padding: 5px 10px 0px 10px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgray;
  font-size: 20px;
}
#note_submit {
  margin-left: -20px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
.action-new, #note_submit {
  padding-left: 45px;
  background: white url(star.png) 10px 10px no-repeat;
}
