// Place all the styles related to the NiftyNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, h1, h2, h3, h4, h5, h6, input {
  padding: 0;
  margin: 0;
}
.search-row input, .app-title, .action-new, .search-row, .pagination *, label, input, textarea {
  border: 2px solid gray;
}
html, body {
  height: 100%;
}
a {
  color: darkred;
  text-decoration: none;
}
.note-content, .search-row { clear: both; }
.first-row, .second-row { overflow: hidden; }
.sandbox {
  background: url(backdrop.png) repeat-y;
  border-top: none;
  width: 1024px;
  height: 200%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.search-row input {
  font-size: 20px;
  padding: 4px;
}
.app-title, .action-new {
  border-top: none;
  display: inline-block;
  padding: 8px;
  border-bottom-right-radius: 10px;
}
.app-title {
  border-bottom-left-radius: 10px;
  margin-left: 150px;
}
.action-new {
  border-left: none;
  padding-right: 15px;
  position: absolute;
  top: 0px;
  left: 15px;
}
.note-preview {
  width: 240px;
  height: 180px;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 4px;
  position: relative;
}
.note-preview h2 {
  float: left;
}
.note-open {
  float: right;
}
.note-text-eater {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: url(/assets/text-eater.png) repeat-x;
}
.search-row {
  width: 994px;
  border-left: none;
  border-right: none;
  padding: 16px 0 16px 0;
  margin-top: 30px;
  background-color: lightgray;
}
input.search-button {
  padding-left: 45px;
  padding-right: 16px;
  background: white url(magnifier.png) 10px 5px no-repeat;
  margin-left: 10px;
}
input.search-query {
  margin-left: 100px;
  width: 460px;
}
.pagination {
  margin-top: 30px;
  font-size: 24px;
}
.pagination *{
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
  background: #eee;
  min-width: 30px;
  display: inline-block;
  text-align: center;
}
.pagination em{
  border-color: darkred;
  color: darkred;
  background-color: white;
  font-style: normal;
}
.previous_page{
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 10px;
  padding-right: 17px;
}
.next_page{
  padding-left: 15px;
  padding-right: 10px;
}
form#new_note {
  padding-left: 20px;
  margin: 0px;
  margin-right: 20px;
  border: none;
  width: 500px;
}
#new_note label, #note_submit {
  margin-top: 20px;
}
#note_title, #note_text {
  margin: 0px;
  clear: both;
  display: block;
  width: 100%;
}
#new_note input {
  font-size: 20px;
}
#new_note textarea {
  font-size: 18px;
}
#new_note label {
  display: inline-block;
  padding: 5px 10px 0px 10px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgray;
  font-size: 20px;
}
#note_submit {
  margin-left: -20px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
.action-new, #note_submit {
  padding-left: 45px;
  background: white url(star.png) 10px 10px no-repeat;
}
.field_with_errors input, .field_with_errors textarea {
  border-color: darkred;
}
.error-description {
  border: 2px solid #ff4444;
  background: #ffeeee;
  border-radius: 10px;
  padding: 10px;
}
.error-description li {
  margin-left: 20px;
}
